/* Soluzione qui */

@media screen and (min-width: 770px) {

    #topbar {
        justify-content: flex-start;
    }

    main {
        padding: 20px 50px;
    }

    .recipe-origin {
        display: inline-block;
    }

    .recipe-title {
        font-size: 20px;
    }

    .quick-notes ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
    }

    .social-networks button {
        padding: 15px 60px;
    }

    .social-networks {
        gap: 0;
    }

    .ads {
        display: block;
    }

    .presentation {
        display: flow-root;
    }

    .presentation img {
        float: left;
        margin: 0 20px 10px 0;
        display: inline;
    }
}

@media screen and (min-width: 995px) {

    .recipe-title {
        font-size: 30px;
    }

    .recipe-card {
        position: relative;
    }

    .recipe-info {
        position: absolute;
        top: 0;
        right: 0;
    }

    .recipe-video {
        height: auto;
    }

    .recipe-video iframe {
        border: 0;
        width: 50%;
        height: 500px;
        display: block;
    }



}